<!DOCTYPE html>
<html lang="en">

<head>
	<title>EMS Forget Password</title>

	<!-- ************* CSS Files ************* -->
	<link rel="stylesheet" href="assets/fonts/bootstrap/bootstrap-icons.css" />
	<link rel="stylesheet" href="assets/css/main.min.css" />
	<link rel="shortcut icon" href="assets/images/logo1.png" />
</head>

<body>
	<!-- Container start -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-4 col-lg-5 col-sm-6 col-12">
				<form action="" class="my-5">
					<div class="border rounded-2 p-4 mt-5">
						<div class="login-form">
							<a href="/forgetpass" class="mb-4 d-flex">
								<img src="assets/images/logo.png" class="img-fluid login-logo" alt="Logo"/>
							</a>
							<h5 class="mb-4 lh-2 fw-light">
								In order to access your account, please enter the email id you
								provided during the registration process.
							</h5>
							<div class="mb-2">
								<label class="form-label">Your Email</label>
								<input name="email" type="email" class="form-control" placeholder="Enter your email" />
							</div>
							<div class="d-grid pb-3">
								<button type="submit" value="submit" class="btn btn-lg btn-primary">
									Submit
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Container end -->
</body>

</html>