<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard - EMS</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <meta property="og:url" content="https://www.bootstrap.gallery">
    <meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Bootstrap Gallery">
    <link rel="shortcut icon" href="assets/images/logo1.png" />

    <!-- ************ CSS Files ************* -->
    <link rel="stylesheet" href="assets/fonts/bootstrap/bootstrap-icons.css" />
    <link rel="stylesheet" href="assets/css/main.min.css" />

    <!-- ************* Vendor Css Files *************-->

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="assets/vendor/overlay-scroll/OverlayScrollbars.min.css" />
</head>

<body>
    <!-- Page wrapper start -->
    <div class="page-wrapper">

        <!-- Main container start -->
        <div class="main-container">

            <!-- Sidebar wrapper start -->
            <nav id="sidebar" class="sidebar-wrapper">

                <!-- App brand starts -->
                <div class="app-brand px-3 py-2 d-flex align-items-center">
                    <a href="#">
                        <img src="assets/images/logo2.png" class="logo" alt="Bootstrap Gallery" />
                    </a>
                </div>
                <!-- App brand ends -->

                <!-- Sidebar menu starts -->
                <div class="sidebarMenuScroll">
                    <ul class="sidebar-menu">
                        <li>
                            <a href="/employeeList">
                                <i class="bi bi-person-lines-fill"></i>
                                <span class="menu-text">Employee List</span>
                            </a>
                        </li>
                        <li>
                            <a href="/departmentList">
                                <i class="bi bi-menu-button-wide-fill"></i>
                                <span class="menu-text">Department List</span>
                            </a>
                        </li>
                        <li>
                            <a href="/employeeAdd">
                                <i class="bi bi-person-plus-fill"></i>
                                <span class="menu-text">Add Employee</span>
                                <span class="badge border border-danger text-danger rounded-5 ms-2">New</span>
                            </a>
                        </li>
                        <li>
                            <a href="/departmentAdd">
                                <i class="bi bi-menu-app-fill"></i>
                                <span class="menu-text">Add Department</span>
                                <span class="badge border border-danger text-danger rounded-5 ms-2">New</span>
                            </a>
                        </li>
                        <li>
                            <a href="/mail">
                                <i class="bi bi-envelope-plus-fill"></i>
                                <span class="menu-text">Send Mail</span>
                            </a>
                        </li>
                        <li>
                            <a href="/profile">
                                <i class="bi bi-person-circle"></i>
                                <span class="menu-text">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="/gallery">
                                <i class="bi bi-images"></i>
                                <span class="menu-text">Gallery</span>
                                <span class="badge border border-success text-success rounded-5 ms-2">New</span>
                            </a>
                        </li>
                       
                        <li>
                            <a href="/upload">
                                <i class="bi bi-arrow-up-circle"></i>
                                <span class="menu-text">Upload</span>
                                <span class="badge border border-success text-success rounded-5 ms-2">New</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bi bi-calendar2"></i>
                                <span class="menu-text">Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bi bi-gear"></i>
                                <span class="menu-text">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bi bi-postcard"></i>
                                <span class="menu-text">Profile</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar menu ends -->

            </nav>
            <!-- Sidebar wrapper end -->


        </div>
        <!-- Main container end -->

    </div>
    <!-- Page wrapper end -->

    <!-- ************* JavaScript Files ************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- ************* Vendor Js Files *************-->

    <!-- Overlay Scroll JS -->
    <script src="assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
    <script src="assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

    <!-- Custom JS files -->
    <script src="assets/js/custom.js"></script>
</body>

</html>