<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard - EMS</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <meta property="og:url" content="https://www.bootstrap.gallery">
    <meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Bootstrap Gallery">
    <link rel="shortcut icon" href="assets/images/logo1.png" />

    <!-- ************ CSS Files ************* -->
    <link rel="stylesheet" href="assets/fonts/bootstrap/bootstrap-icons.css" />
    <link rel="stylesheet" href="assets/css/main.min.css" />

    <!-- ************* Vendor Css Files *************-->

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="assets/vendor/overlay-scroll/OverlayScrollbars.min.css" />
</head>

<body>
    <!-- Page wrapper start -->
    <div class="page-wrapper">

        <!-- Main container start -->
        <div class="main-container">

            <!-- Sidebar wrapper start -->
            <nav id="sidebar" class="sidebar-wrapper">

                <!-- App brand starts -->
                <div class="app-brand px-3 py-2 d-flex align-items-center">
                    <a href="#">
                        <img src="assets/images/logo2.png" class="logo" alt="Bootstrap Gallery" />
                    </a>
                </div>
                <!-- App brand ends -->

                <!-- Sidebar menu starts -->
                <div class="sidebarMenuScroll">
                    <ul class="sidebar-menu">
                        <li>
                            <a href="/employeeList">
                                <i class="bi bi-person-lines-fill"></i>
                                <span class="menu-text">Employee List</span>
                            </a>
                        </li>
                        <li>
                            <a href="/departmentList">
                                <i class="bi bi-menu-button-wide-fill"></i>
                                <span class="menu-text">Department List</span>
                            </a>
                        </li>
                        <li>
                            <a href="/employeeAdd">
                                <i class="bi bi-person-plus-fill"></i>
                                <span class="menu-text">Add Employee</span>
                                <span class="badge border border-danger text-danger rounded-5 ms-2">New</span>
                            </a>
                        </li>
                        <li>
                            <a href="/departmentAdd">
                                <i class="bi bi-menu-app-fill"></i>
                                <span class="menu-text">Add Department</span>
                                <span class="badge border border-danger text-danger rounded-5 ms-2">New</span>
                            </a>
                        </li>
                        <li>
                            <a href="/contacts">
                                <i class="bi bi-envelope-plus-fill"></i>
                                <span class="menu-text">Mail</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bi bi-pin-map"></i>
                                <span class="menu-text">Profile</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="bi bi-upc-scan"></i>
                                <span class="menu-text">Login/Signup</span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <a href="#">Signup</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="faq.html">
                                <i class="bi bi-box"></i>
                                <span class="menu-text">FAQ's</span>
                                <span class="badge border border-success text-success rounded-5 ms-2">New</span>
                            </a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="bi bi-calendar2"></i>
                                <span class="menu-text">Calendar</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#!">
                                <i class="bi bi-stickies"></i>
                                <span class="menu-text">Components</span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="accordions.html">Accordions</a>
                                </li>
                                <li>
                                    <a href="alerts.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="badges.html">Badges</a>
                                </li>
                                <li>
                                    <a href="carousel.html">Carousel</a>
                                </li>
                                <li>
                                    <a href="list-items.html">List Items</a>
                                </li>
                                <li>
                                    <a href="progress.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="popovers.html">Popovers</a>
                                </li>
                                <li>
                                    <a href="tooltips.html">Tooltips</a>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#!">
                                <i class="bi bi-ui-checks-grid"></i>
                                <span class="menu-text">Forms</span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="form-inputs.html">Basic Form Inputs</a>
                                </li>
                                <li>
                                    <a href="form-checkbox-radio.html">Checkbox &amp; Radio</a>
                                </li>
                                <li>
                                    <a href="form-file-input.html">File Input</a>
                                </li>
                                <li>
                                    <a href="form-validations.html">Validations</a>
                                </li>
                                <li>
                                    <a href="date-time-pickers.html">Date Time Pickers</a>
                                </li>
                                <li>
                                    <a href="form-layouts.html">Form Layouts</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="tables.html">
                                <i class="bi bi-border-all"></i>
                                <span class="menu-text">Tables</span>
                            </a>
                        </li>
                        <li>
                            <a href="settings.html">
                                <i class="bi bi-gear"></i>
                                <span class="menu-text">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="profile.html">
                                <i class="bi bi-postcard"></i>
                                <span class="menu-text">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="starter-page.html">
                                <i class="bi bi-layout-text-window-reverse"></i>
                                <span class="menu-text">Starter Page</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#!">
                                <i class="bi bi-code-square"></i>
                                <span class="menu-text">Cards</span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="cards.html">Cards</a>
                                </li>
                                <li>
                                    <a href="advanced-cards.html">Advanced Cards</a>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#!">
                                <i class="bi bi-pie-chart"></i>
                                <span class="menu-text">Graphs</span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="apex.html">Apex</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="maps.html">
                                <i class="bi bi-pin-map"></i>
                                <span class="menu-text">Maps</span>
                            </a>
                        </li>

                        <li>
                            <a href="modals.html">
                                <i class="bi bi-terminal"></i>
                                <span class="menu-text">Modals</span>
                            </a>
                        </li>
                        <li>
                            <a href="icons.html">
                                <i class="bi bi-textarea"></i>
                                <span class="menu-text">Icons</span>
                            </a>
                        </li>


                        <li>
                            <a href="page-not-found.html">
                                <i class="bi bi-exclamation-diamond"></i>
                                <span class="menu-text">Page Not Found</span>
                            </a>
                        </li>
                        <li>
                            <a href="maintenance.html">
                                <i class="bi bi-exclamation-octagon"></i>
                                <span class="menu-text">Maintenance</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#!">
                                <i class="bi bi-code-square"></i>
                                <span class="menu-text">Multi Level</span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="#!">Level One Link</a>
                                </li>
                                <li>
                                    <a href="#!">
                                        Level One Menu
                                        <i class="bi bi-chevron-right"></i>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="#!">Level Two Link</a>
                                        </li>
                                        <li>
                                            <a href="#!">Level Two Menu
                                                <i class="bi bi-chevron-right"></i>
                                            </a>
                                            <ul class="treeview-menu">
                                                <li>
                                                    <a href="#!">Level Three Link</a>
                                                </li>
                                                <li>
                                                    <a href="#!">Level Three Link</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#!">Level One Link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar menu ends -->

            </nav>
            <!-- Sidebar wrapper end -->


        </div>
        <!-- Main container end -->

    </div>
    <!-- Page wrapper end -->

    <!-- ************* JavaScript Files ************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- ************* Vendor Js Files *************-->

    <!-- Overlay Scroll JS -->
    <script src="assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
    <script src="assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

    <!-- Custom JS files -->
    <script src="assets/js/custom.js"></script>
</body>

</html>