<!DOCTYPE html>
<html>

<head>
	<title>EMS login</title>
	<!-- Font Icon -->
	<link rel="stylesheet" href="login/fonts/material-icon/css/material-design-iconic-font.min.css">

	<!-- Main css -->
	<link rel="stylesheet" href="login/css/style.css">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<link rel="stylesheet" href="assets/css/main.min.css" />
	<link rel="shortcut icon" href="Homepage/images/logo1.png" />
</head>

<body>

	<div class="main">

		<!-- Sing in  Form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure>
							<img src="login/images/signin.jpg" alt="sing up image">
						</figure>
						<a href="/signup" style="color: green" class="signup-image-link">Create an account</a>

					</div>

					<div class="signin-form">
						<h2 class="form-title">Login</h2>

						<form method="post" action="/login" class="register-form" id="login-form">

							<p style="color:red">[[${message}]]</p>
							<div class="form-group">
								<label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
								<input type="text" name="username" id="username" placeholder="Your Name" required />
							</div>
							<div class="form-group">
								<label for="password"><i class="zmdi zmdi-lock"></i></label>
								<input type="password" name="password" id="password" placeholder="Password" required />
							</div>

							<div>
								<p>
									<a href="/forgetpassword">Forget Password</a>
								</p>
							</div>

							<!--<div class="g-recaptcha" data-sitekey="6LcNy8YpAAAAAGuMQfKwMm_B3uX-5TpMEiMbT0Cr"></div>-->
							<div class="g-recaptcha" data-sitekey="6Le5a_QpAAAAANLnwcIUztvNdS54lN8xoI194dIM"></div>
							<div class="form-group">
								<input type="checkbox" name="remember-me" id="remember-me" class="agree-term"
									required />
								<label for="remember-me" class="label-agree-term"><span><span></span></span>Remember
									Me</label>
							</div>
							<div class="d-flex gap-2 justify-content-start">
								<button type="submit" value="Add" class="btn btn-primary">
									Login
								</button>
								<a href="/"><button type="button" class="btn btn-light">
										Home
									</button>
								</a>
							</div>

						</form>
						<div class="social-login">
							<span class="social-label">Or login with</span>
							<ul class="socials">
								<li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
								<li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
								<li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- JS -->
	<script src="login/vendor/jquery/jquery.min.js"></script>
	<script src="login/js/main.js"></script>
</body>


</body>

</html>
