<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>User Profile</title>
</head>

<body>

	<th:block th:insert="header.html"></th:block>

	<div class="container-fluid">

		<div class="card">
			<div class="card-header text-center text-white bg-primary">
				<h5>User Profile Details</h5>
			</div>

			<div class="card-body">


					<div class="row p-2">
						<div class="col-4">
							First Name
						</div>
						<div class="col-6">
							[[${session.validateUser.fname}]]
						</div>
					</div>
					
					<div class="row p-2">
						<div class="col-4">
							Last Name
						</div>
						<div class="col-6">
							[[${session.validateUser.lname}]]
						</div>
						
					</div>
					
					<div class="row p-2">
						<div class="col-4">
							User Name
						</div>
						<div class="col-6">
							[[${session.validateUser.username}]]
						</div>
						
					</div>

			</div>
			<div class="card-footer bg-warning text-black text-center">&copy; 2024 Kshitiz Creation</div>
		</div>

	</div>

</body>

</html>