<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>EMS Reset Password</title>

    <!-- ************* CSS Files ************* -->
    <link rel="stylesheet" href="assets/fonts/bootstrap/bootstrap-icons.css" />
    <link rel="stylesheet" href="assets/css/main.min.css" />
    <link rel="shortcut icon" href="assets/images/logo1.png" />
</head>

<body>
    <!-- Container start -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-sm-6 col-12">
                <form action="/resetpassword" method="post" class="my-5">
                    <div class="border rounded-2 p-4 mt-5">
                        <div class="login-form">
                            <a href="/resetpassword" class="mb-4 d-flex">
                                <img style="text-align: justify" src="assets/images/logo.png" class="img-fluid login-logo" alt="Logo" />
                            </a>
                            <h6 class="mb-4 lh-2 fw-light" style="text-align: justify">
                                In order to reset your EMS Account Password, please enter valid Username,
                                New Password and Confirm Password.
                            </h6>
                            <p style="color:darkgreen" th:text="${message2}"></p>
                            <p style="color:crimson" th:text="${message1}"></p>
                            <div class="mb-2">
                                <label class="form-label">Enter Email</label>
                                <input name="email" type="email" class="form-control"
                                    placeholder="Your Email Already" th:value="${email}" readonly/>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Enter New Password</label>
                                <input name="password" id="password" type="password" class="form-control"
                                    placeholder="New password" required/>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Confirm New Password</label>
                                <input onkeyup="validate_password()" name="confirmPassword" id="confirmPassword" type="password" class="form-control"
                                    placeholder="Confirm Password" required/>
                            </div>
                            <span id="wrong_pass_alert"></span>
                            <div class="d-grid pb-3">
                                <button type="submit" value="Submit" class="btn btn-lg btn-primary">
                                    Submit
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Container end -->
    <script src="login/vendor/jquery/passwordConfirm.js"></script>
</body>

</html>
