<!DOCTYPE html>
<html lang="en">

<head>
	<title>EMS Reset Password</title>

	<!-- ************* CSS Files ************* -->
	<link rel="stylesheet" href="assets/fonts/bootstrap/bootstrap-icons.css" />
	<link rel="stylesheet" href="assets/css/main.min.css" />
	<link rel="shortcut icon" href="assets/images/logo1.png" />
</head>

<body>
	<!-- Container start -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-4 col-lg-5 col-sm-6 col-12">
				<form action="/resetpassword" method="post" class="my-5">
					<div class="border rounded-2 p-4 mt-5">
						<div class="login-form">
							<a href="/resetpassword" class="mb-4 d-flex">
								<img src="assets/images/logo.png" class="img-fluid login-logo" alt="Logo" />
							</a>
							<h6 class="mb-4 lh-2 fw-light">
								In order to reset your EMS Account Password, please enter the Username,
								New Password and Confirm Password.
							</h6>
							<!--<div class="mb-2">
								<label class="form-label">Enter Token</label>
								<input name="token" type="text" class="form-control"
									placeholder="Enter your Token" />
							</div>-->
							<div class="mb-2">
								<label class="form-label">Enter Username</label>
								<input name="username" type="text" class="form-control"
									placeholder="Enter your username" />
							</div>
							<div class="mb-2">
								<label class="form-label">Enter New Password</label>
								<input name="password" id="password" type="password" class="form-control"
									placeholder="New password" />
							</div>
							<div class="mb-2">
								<label class="form-label">Confirm New Password</label>
								<input onkeyup="validate_password()" id="confirmPassword" type="password" class="form-control"
									placeholder="Confirm Password" />
							</div>
							<span id="wrong_pass_alert"></span>
							<div class="d-grid pb-3">
								<button type="submit" value="Submit" class="btn btn-lg btn-primary">
									Submit
								</button>
							</div>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Container end -->
	 <script src="login/vendor/jquery/passwordConfirm.js"></script>
</body>

</html>